# Preparing data

In [ ]:
# import
import pandas as pd
import numpy as np

In [ ]:
# load data
data = pd.read_csv("https://github.com/allisonhorst/palmerpenguins/raw/5b5891f01b52ae26ad8cb9755ec93672f49328a8/data/penguins_size.csv")
# check the data
data

,species_short,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [ ]:
# randomize the index rows
data = data.sample(frac=1).reset_index(drop=True)

# check data
data.head()

,species_short,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Gentoo,Biscoe,44.9,13.3,213.0,5100.0,FEMALE
1,Adelie,Dream,41.3,20.3,194.0,3550.0,MALE
2,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
3,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,FEMALE
4,Chinstrap,Dream,50.8,18.5,201.0,4450.0,MALE

In [ ]:
# data describe
print(data.describe())
print("---------------------------------------------------------------", "\n\n")

# data info
print(data.info())
print("---------------------------------------------------------------", "\n\n")

# data shape
print(data.shape)

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000
---------------------------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species_short      344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None
---------------------------------------------------------------


(344, 7)

In [ ]:
# drop missing values
data = data.dropna()
# check the data
data

,species_short,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Gentoo,Biscoe,44.9,13.3,213.0,5100.0,FEMALE
1,Adelie,Dream,41.3,20.3,194.0,3550.0,MALE
2,Adelie,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
3,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,FEMALE
4,Chinstrap,Dream,50.8,18.5,201.0,4450.0,MALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,46.4,15.6,221.0,5000.0,MALE
340,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE
341,Adelie,Dream,37.0,16.9,185.0,3000.0,FEMALE
342,Adelie,Dream,37.2,18.1,178.0,3900.0,MALE
343,Adelie,Dream,36.4,17.0,195.0,3325.0,FEMALE

In [ ]:
# create a dictionari to map
specie_map = {'Adelie': 1, 'Gentoo': 2, 'Chinstrap':3}

# map it
data['species_short'] = data['species_short'].map(specie_map)
# check the data
data

,species_short,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,2,Biscoe,44.9,13.3,213.0,5100.0,FEMALE
1,1,Dream,41.3,20.3,194.0,3550.0,MALE
2,1,Torgersen,38.6,17.0,188.0,2900.0,FEMALE
3,2,Biscoe,41.7,14.7,210.0,4700.0,FEMALE
4,3,Dream,50.8,18.5,201.0,4450.0,MALE
...,...,...,...,...,...,...,...
339,2,Biscoe,46.4,15.6,221.0,5000.0,MALE
340,2,Biscoe,50.0,16.3,230.0,5700.0,MALE
341,1,Dream,37.0,16.9,185.0,3000.0,FEMALE
342,1,Dream,37.2,18.1,178.0,3900.0,MALE
343,1,Dream,36.4,17.0,195.0,3325.0,FEMALE

In [ ]:
# renaming to make species the target to predict
data = data.rename(columns={'species_short': 'target'})

# move it to the right side of our data frame
cols = list(data.columns)
cols.remove('target')
cols.append('target')
data = data[cols]
# check the data
data

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,target
0,Biscoe,44.9,13.3,213.0,5100.0,FEMALE,2
1,Dream,41.3,20.3,194.0,3550.0,MALE,1
2,Torgersen,38.6,17.0,188.0,2900.0,FEMALE,1
3,Biscoe,41.7,14.7,210.0,4700.0,FEMALE,2
4,Dream,50.8,18.5,201.0,4450.0,MALE,3
...,...,...,...,...,...,...,...
339,Biscoe,46.4,15.6,221.0,5000.0,MALE,2
340,Biscoe,50.0,16.3,230.0,5700.0,MALE,2
341,Dream,37.0,16.9,185.0,3000.0,FEMALE,1
342,Dream,37.2,18.1,178.0,3900.0,MALE,1
343,Dream,36.4,17.0,195.0,3325.0,FEMALE,1

In [ ]:
# drop columns we don't need
data = data.drop(["island", "sex"], axis=1)
# check the data
data

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g  target
0                44.9             13.3              213.0       5100.0       2
1                41.3             20.3              194.0       3550.0       1
2                38.6             17.0              188.0       2900.0       1
3                41.7             14.7              210.0       4700.0       2
4                50.8             18.5              201.0       4450.0       3
..                ...              ...                ...          ...     ...
339              46.4             15.6              221.0       5000.0       2
340              50.0             16.3              230.0       5700.0       2
341              37.0             16.9              185.0       3000.0       1
342              37.2             18.1              178.0       3900.0       1
343              36.4             17.0              195.0       3325.0       1

[334 rows x 5 columns]

In [ ]:
# re-name
penguins_df = data.dropna()

# Creating a SQLite database

In [ ]:
# import
import sqlite3

In [ ]:
# connect to the SQLite database
conn = sqlite3.connect("Penguins_data.db")
cursor = conn.cursor()

In [ ]:
# create a table for the penguins dataset
cursor.execute("""
CREATE TABLE IF NOT EXISTS Penguins_data (
    id INTEGER PRIMARY KEY,
    culmen_length_mm REAL,
    culmen_depth_mm REAL,
    flipper_length_mm REAL,
    body_mass_g REAL,
    target INTEGER
)
""")

# Loading the csv file into the SQLite table

In [ ]:
# insert data into the table
for row in penguins_df.itertuples(index=False):
    cursor.execute("INSERT INTO Penguins_data (culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, target) VALUES (?, ?, ?, ?, ?)",
                   (row.culmen_length_mm, row.culmen_depth_mm, row.flipper_length_mm, row.body_mass_g, row.target))
conn.commit()

# Running SQLite commands

- SELECT
- INSERT 
- UPDATE
- DELETE

## Select

In [ ]:
# select query
select_query = "SELECT * FROM Penguins_data"
cursor = conn.execute(select_query)
rows = cursor.fetchall()

# print records
for row in rows:
  print(row)

(1, 44.9, 13.3, 213.0, 5100.0, 2)
(2, 41.3, 20.3, 194.0, 3550.0, 1)
(3, 38.6, 17.0, 188.0, 2900.0, 1)
(4, 41.7, 14.7, 210.0, 4700.0, 2)
(5, 50.8, 18.5, 201.0, 4450.0, 3)
(6, 45.4, 18.7, 188.0, 3525.0, 3)
(7, 43.3, 14.0, 208.0, 4575.0, 2)
(8, 55.9, 17.0, 228.0, 5600.0, 2)
(9, 40.2, 17.1, 193.0, 3400.0, 1)
(10, 41.1, 18.6, 189.0, 3325.0, 1)
(11, 45.2, 15.8, 215.0, 5300.0, 2)
(12, 51.0, 18.8, 203.0, 4100.0, 3)
(13, 47.2, 13.7, 214.0, 4925.0, 2)
(14, 38.6, 17.2, 199.0, 3750.0, 1)
(15, 39.6, 17.2, 196.0, 3550.0, 1)
(16, 42.2, 18.5, 180.0, 3550.0, 1)
(17, 46.0, 18.9, 195.0, 4150.0, 3)
(18, 41.3, 21.1, 195.0, 4400.0, 1)
(19, 40.8, 18.9, 208.0, 4300.0, 1)
(20, 41.1, 18.2, 192.0, 4050.0, 1)
(21, 45.5, 17.0, 196.0, 3500.0, 3)
(22, 43.4, 14.4, 218.0, 4600.0, 2)
(23, 41.5, 18.5, 201.0, 4000.0, 1)
(24, 35.7, 18.0, 202.0, 3550.0, 1)
(25, 40.2, 17.0, 176.0, 3450.0, 1)
(26, 40.3, 18.5, 196.0, 4350.0, 1)
(27, 46.1, 13.2, 211.0, 4500.0, 2)
(28, 36.7, 18.8, 187.0, 3800.0, 1)
(29, 34.6, 21.1, 198.0, 4400.0, 1)
(30, 42.5, 20.7, 197.0, 4500.0, 1)
(31, 49.8, 17.3, 198.0, 3675.0, 3)
(32, 46.5, 14.8, 217.0, 5200.0, 2)
(33, 36.5, 16.6, 181.0, 2850.0, 1)
(34, 43.5, 15.2, 213.0, 4650.0, 2)
(35, 35.1, 19.4, 193.0, 4200.0, 1)
(36, 50.0, 19.5, 196.0, 3900.0, 3)
(37, 39.2, 18.6, 190.0, 4250.0, 1)
(38, 36.0, 17.9, 190.0, 3450.0, 1)
(39, 46.2, 17.5, 187.0, 3650.0, 3)
(40, 37.3, 16.8, 192.0, 3000.0, 1)
(41, 34.4, 18.4, 184.0, 3325.0, 1)
(42, 37.3, 17.8, 191.0, 3350.0, 1)
(43, 50.1, 15.0, 225.0, 5000.0, 2)
(44, 38.1, 16.5, 198.0, 3825.0, 1)
(45, 36.7, 19.3, 193.0, 3450.0, 1)
(46, 38.9, 17.8, 181.0, 3625.0, 1)
(47, 43.2, 14.5, 208.0, 4450.0, 2)
(48, 39.1, 18.7, 181.0, 3750.0, 1)
(49, 38.2, 18.1, 185.0, 3950.0, 1)
(50, 37.9, 18.6, 172.0, 3150.0, 1)
(51, 39.0, 18.7, 185.0, 3650.0, 1)
(52, 50.5, 19.6, 201.0, 4050.0, 3)
(53, 43.2, 19.0, 197.0, 4775.0, 1)
(54, 45.6, 20.3, 191.0, 4600.0, 1)
(55, 45.5, 13.9, 210.0, 4200.0, 2)
(56, 51.1, 16.3, 220.0, 6000.0, 2)
(57, 46.4, 18.6, 190.0, 3450.0, 3)
(58, 49.4, 15.8, 216.0, 4925.0, 2)
(59, 42.7, 13.7, 208.0, 3950.0, 2)
(60, 45.2, 13.8, 215.0, 4750.0, 2)
(61, 50.1, 17.9, 190.0, 3400.0, 3)
(62, 50.0, 15.3, 220.0, 5550.0, 2)
(63, 51.3, 14.2, 218.0, 5300.0, 2)
(64, 45.8, 14.6, 210.0, 4200.0, 2)
(65, 45.5, 14.5, 212.0, 4750.0, 2)
(66, 39.5, 17.8, 188.0, 3300.0, 1)
(67, 37.7, 18.7, 180.0, 3600.0, 1)
(68, 34.5, 18.1, 187.0, 2900.0, 1)
(69, 47.8, 15.0, 215.0, 5650.0, 2)
(70, 37.8, 20.0, 190.0, 4250.0, 1)
(71, 41.1, 17.6, 182.0, 3200.0, 1)
(72, 46.2, 14.5, 209.0, 4800.0, 2)
(73, 38.2, 20.0, 190.0, 3900.0, 1)
(74, 46.2, 14.9, 221.0, 5300.0, 2)
(75, 39.5, 17.4, 186.0, 3800.0, 1)
(76, 51.4, 19.0, 201.0, 3950.0, 3)
(77, 46.6, 14.2, 210.0, 4850.0, 2)
(78, 47.5, 14.0, 212.0, 4875.0, 2)
(79, 49.8, 16.8, 230.0, 5700.0, 2)
(80, 50.7, 15.0, 223.0, 5550.0, 2)
(81, 40.9, 16.8, 191.0, 3700.0, 1)
(82, 41.5, 18.3, 195.0, 4300.0, 1)
(83, 52.5, 15.6, 221.0, 5450.0, 2)
(84, 47.7, 15.0, 216.0, 4750.0, 2)
(85, 50.3, 20.0, 197.0, 3300.0, 3)
(86, 39.7, 17.9, 193.0, 4250.0, 1)
(87, 45.9, 17.1, 190.0, 3575.0, 3)
(88, 53.4, 15.8, 219.0, 5500.0, 2)
(89, 33.1, 16.1, 178.0, 2900.0, 1)
(90, 36.3, 19.5, 190.0, 3800.0, 1)
(91, 46.3, 15.8, 215.0, 5050.0, 2)
(92, 40.1, 18.9, 188.0, 4300.0, 1)
(93, 35.6, 17.5, 191.0, 3175.0, 1)
(94, 46.1, 18.2, 178.0, 3250.0, 3)
(95, 41.0, 20.0, 203.0, 4725.0, 1)
(96, 37.6, 19.3, 181.0, 3300.0, 1)
(97, 38.1, 18.6, 190.0, 3700.0, 1)
(98, 49.5, 16.2, 229.0, 5800.0, 2)
(99, 49.1, 15.0, 228.0, 5500.0, 2)
(100, 45.8, 18.9, 197.0, 4150.0, 1)
(101, 38.1, 17.0, 181.0, 3175.0, 1)
(102, 48.2, 14.3, 210.0, 4600.0, 2)
(103, 37.3, 20.5, 199.0, 3775.0, 1)
(104, 36.4, 17.1, 184.0, 2850.0, 1)
(105, 41.1, 19.1, 188.0, 4100.0, 1)
(106, 46.4, 15.0, 216.0, 4700.0, 2)
(107, 38.8, 17.6, 191.0, 3275.0, 1)
(108, 45.3, 13.7, 210.0, 4300.0, 2)
(109, 46.6, 17.8, 193.0, 3800.0, 3)
(110, 47.5, 15.0, 218.0, 4950.0, 2)
(111, 45.7, 17.3, 193.0, 3600.0, 3)
(112, 39.6, 18.8, 190.0, 4600.0, 1)
(113, 43.2, 18.5, 192.0, 4100.0, 1)
(114, 42.0, 19.5, 200.0, 4050.0, 1)
(115, 42.3, 21.2, 191.0, 4150.0, 1)
(116, 39.6, 18.1, 186.0, 4450.0, 1)
(117, 35.9, 19.2, 189.0, 3800.0, 1)
(118, 45.2, 16.6, 191.0, 3250.0, 3)
(119, 35.5, 16.2, 195.0, 3350.0, 1)
(120, 51.3, 19.9, 198.0, 3700.0, 3)
(121, 54.3, 15.7, 231.0, 5650.0, 2)
(122, 45.1, 14.5, 207.0, 5050.0, 2)
(123, 48.7, 14.1, 210.0, 4450.0, 2)
(124, 42.5, 17.3, 187.0, 3350.0, 3)
(125, 48.5, 15.0, 219.0, 4850.0, 2)
(126, 39.2, 21.1, 196.0, 4150.0, 1)
(127, 36.6, 18.4, 184.0, 3475.0, 1)
(128, 51.3, 19.2, 193.0, 3650.0, 3)
(129, 41.8, 19.4, 198.0, 4450.0, 1)
(130, 38.9, 18.8, 190.0, 3600.0, 1)
(131, 49.5, 19.0, 200.0, 3800.0, 3)
(132, 36.0, 17.1, 187.0, 3700.0, 1)
(133, 55.8, 19.8, 207.0, 4000.0, 3)
(134, 44.0, 13.6, 208.0, 4350.0, 2)
(135, 45.1, 14.4, 210.0, 4400.0, 2)
(136, 46.8, 16.5, 189.0, 3650.0, 3)
(137, 45.8, 14.2, 219.0, 4700.0, 2)
(138, 53.5, 19.9, 205.0, 4500.0, 3)
(139, 37.8, 18.1, 193.0, 3750.0, 1)
(140, 46.5, 13.5, 210.0, 4550.0, 2)
(141, 50.5, 15.9, 225.0, 5400.0, 2)
(142, 39.2, 19.6, 195.0, 4675.0, 1)
(143, 55.1, 16.0, 230.0, 5850.0, 2)
(144, 45.2, 14.8, 212.0, 5200.0, 2)
(145, 43.1, 19.2, 197.0, 3500.0, 1)
(146, 54.2, 20.8, 201.0, 4300.0, 3)
(147, 42.5, 16.7, 187.0, 3350.0, 3)
(148, 42.9, 13.1, 215.0, 5000.0, 2)
(149, 47.5, 14.2, 209.0, 4600.0, 2)
(150, 47.5, 16.8, 199.0, 3900.0, 3)
(151, 46.5, 14.5, 213.0, 4400.0, 2)
(152, 41.6, 18.0, 192.0, 3950.0, 1)
(153, 45.4, 14.6, 211.0, 4800.0, 2)
(154, 49.2, 18.2, 195.0, 4400.0, 3)
(155, 46.1, 15.1, 215.0, 5100.0, 2)
(156, 51.1, 16.5, 225.0, 5250.0, 2)
(157, 50.9, 19.1, 196.0, 3550.0, 3)
(158, 38.1, 17.6, 187.0, 3425.0, 1)
(159, 36.2, 17.3, 187.0, 3300.0, 1)
(160, 42.4, 17.3, 181.0, 3600.0, 3)
(161, 42.2, 19.5, 197.0, 4275.0, 1)
(162, 41.1, 18.1, 205.0, 4300.0, 1)
(163, 48.7, 15.7, 208.0, 5350.0, 2)
(164, 36.9, 18.6, 189.0, 3500.0, 1)
(165, 50.2, 14.3, 218.0, 5700.0, 2)
(166, 49.3, 19.9, 203.0, 4050.0, 3)
(167, 49.0, 19.5, 210.0, 3950.0, 3)
(168, 40.8, 18.4, 195.0, 3900.0, 1)
(169, 40.9, 13.7, 214.0, 4650.0, 2)
(170, 48.5, 14.1, 220.0, 5300.0, 2)
(171, 48.4, 14.4, 203.0, 4625.0, 2)
(172, 37.7, 19.8, 198.0, 3500.0, 1)
(173, 40.3, 18.0, 195.0, 3250.0, 1)
(174, 45.6, 19.4, 194.0, 3525.0, 3)
(175, 50.0, 15.2, 218.0, 5700.0, 2)
(176, 47.2, 15.5, 215.0, 4975.0, 2)
(177, 50.2, 18.8, 202.0, 3800.0, 3)
(178, 34.0, 17.1, 185.0, 3400.0, 1)
(179, 46.7, 17.9, 195.0, 3300.0, 3)
(180, 42.0, 13.5, 210.0, 4150.0, 2)
(181, 40.6, 18.6, 183.0, 3550.0, 1)
(182, 51.9, 19.5, 206.0, 3950.0, 3)
(183, 52.2, 18.8, 197.0, 3450.0, 3)
(184, 35.3, 18.9, 187.0, 3800.0, 1)
(185, 46.9, 16.6, 192.0, 2700.0, 3)
(186, 40.6, 18.8, 193.0, 3800.0, 1)
(187, 38.7, 19.0, 195.0, 3450.0, 1)
(188, 38.6, 21.2, 191.0, 3800.0, 1)
(189, 49.0, 16.1, 216.0, 5550.0, 2)
(190, 39.3, 20.6, 190.0, 3650.0, 1)
(191, 40.6, 19.0, 199.0, 4000.0, 1)
(192, 35.0, 17.9, 190.0, 3450.0, 1)
(193, 48.4, 14.6, 213.0, 5850.0, 2)
(194, 37.7, 16.0, 183.0, 3075.0, 1)
(195, 44.1, 18.0, 210.0, 4000.0, 1)
(196, 45.5, 13.7, 214.0, 4650.0, 2)
(197, 35.7, 16.9, 185.0, 3150.0, 1)
(198, 37.6, 19.1, 194.0, 3750.0, 1)
(199, 45.5, 15.0, 220.0, 5000.0, 2)
(200, 35.7, 17.0, 189.0, 3350.0, 1)
(201, 41.1, 19.0, 182.0, 3425.0, 1)
(202, 48.1, 15.1, 209.0, 5500.0, 2)
(203, 35.5, 17.5, 190.0, 3700.0, 1)
(204, 49.7, 18.6, 195.0, 3600.0, 3)
(205, 50.0, 15.9, 224.0, 5350.0, 2)
(206, 36.2, 17.2, 187.0, 3150.0, 1)
(207, 39.5, 16.7, 178.0, 3250.0, 1)
(208, 58.0, 17.8, 181.0, 3700.0, 3)
(209, 46.8, 14.3, 215.0, 4850.0, 2)
(210, 36.0, 18.5, 186.0, 3100.0, 1)
(211, 42.6, 13.7, 213.0, 4950.0, 2)
(212, 49.5, 16.1, 224.0, 5650.0, 2)
(213, 49.6, 18.2, 193.0, 3775.0, 3)
(214, 42.8, 14.2, 209.0, 4700.0, 2)
(215, 42.7, 18.3, 196.0, 4075.0, 1)
(216, 43.2, 16.6, 187.0, 2900.0, 3)
(217, 49.8, 15.9, 229.0, 5950.0, 2)
(218, 51.5, 18.7, 187.0, 3250.0, 3)
(219, 36.0, 17.8, 195.0, 3450.0, 1)
(220, 48.8, 16.2, 222.0, 6000.0, 2)
(221, 47.0, 17.3, 185.0, 3700.0, 3)
(222, 41.1, 17.5, 190.0, 3900.0, 1)
(223, 47.3, 15.3, 222.0, 5250.0, 2)
(224, 50.4, 15.7, 222.0, 5750.0, 2)
(225, 43.8, 13.9, 208.0, 4300.0, 2)
(226, 46.2, 14.1, 217.0, 4375.0, 2)
(227, 46.4, 17.8, 191.0, 3700.0, 3)
(228, 50.4, 15.3, 224.0, 5550.0, 2)
(229, 46.5, 17.9, 192.0, 3500.0, 3)
(230, 48.7, 15.1, 222.0, 5350.0, 2)
(231, 46.0, 21.5, 194.0, 4200.0, 1)
(232, 49.6, 16.0, 225.0, 5700.0, 2)
(233, 37.6, 17.0, 185.0, 3600.0, 1)
(234, 49.6, 15.0, 216.0, 4750.0, 2)
(235, 42.1, 19.1, 195.0, 4000.0, 1)
(236, 44.9, 13.8, 212.0, 4750.0, 2)
(237, 47.4, 14.6, 212.0, 4725.0, 2)
(238, 40.9, 16.6, 187.0, 3200.0, 3)
(239, 41.4, 18.6, 191.0, 3700.0, 1)
(240, 49.1, 14.8, 220.0, 5150.0, 2)
(241, 48.1, 16.4, 199.0, 3325.0, 3)
(242, 42.8, 18.5, 195.0, 4250.0, 1)
(243, 40.2, 20.1, 200.0, 3975.0, 1)
(244, 38.3, 19.2, 189.0, 3950.0, 1)
(245, 49.0, 19.6, 212.0, 4300.0, 3)
(246, 51.7, 20.3, 194.0, 3775.0, 3)
(247, 47.6, 18.3, 195.0, 3850.0, 3)
(248, 38.8, 17.2, 180.0, 3800.0, 1)
(249, 36.6, 17.8, 185.0, 3700.0, 1)
(250, 36.2, 16.1, 187.0, 3550.0, 1)
(251, 45.7, 17.0, 195.0, 3650.0, 3)
(252, 45.3, 13.8, 208.0, 4200.0, 2)
(253, 40.5, 18.9, 180.0, 3950.0, 1)
(254, 45.2, 17.8, 198.0, 3950.0, 3)
(255, 46.8, 15.4, 215.0, 5150.0, 2)
(256, 43.3, 13.4, 209.0, 4400.0, 2)
(257, 39.7, 18.4, 190.0, 3900.0, 1)
(258, 41.4, 18.5, 202.0, 3875.0, 1)
(259, 39.7, 18.9, 184.0, 3550.0, 1)
(260, 42.9, 17.6, 196.0, 4700.0, 1)
(261, 48.4, 16.3, 220.0, 5400.0, 2)
(262, 34.6, 17.2, 189.0, 3200.0, 1)
(263, 35.2, 15.9, 186.0, 3050.0, 1)
(264, 49.9, 16.1, 213.0, 5400.0, 2)
(265, 59.6, 17.0, 230.0, 6050.0, 2)
(266, 48.2, 15.6, 221.0, 5100.0, 2)
(267, 51.5, 16.3, 230.0, 5500.0, 2)
(268, 45.1, 14.5, 215.0, 5000.0, 2)
(269, 36.8, 18.5, 193.0, 3500.0, 1)
(270, 52.0, 19.0, 197.0, 4150.0, 3)
(271, 50.5, 18.4, 200.0, 3400.0, 3)
(272, 45.0, 15.4, 220.0, 5050.0, 2)
(273, 40.6, 17.2, 187.0, 3475.0, 1)
(274, 49.1, 14.5, 212.0, 4625.0, 2)
(275, 50.7, 19.7, 203.0, 4050.0, 3)
(276, 50.8, 19.0, 210.0, 4100.0, 3)
(277, 33.5, 19.0, 190.0, 3600.0, 1)
(278, 39.6, 17.7, 186.0, 3500.0, 1)
(279, 49.2, 15.2, 221.0, 6300.0, 2)
(280, 40.5, 17.9, 187.0, 3200.0, 1)
(281, 50.5, 15.9, 222.0, 5550.0, 2)
(282, 39.8, 19.1, 184.0, 4650.0, 1)
(283, 37.5, 18.5, 199.0, 4475.0, 1)
(284, 43.6, 13.9, 217.0, 4900.0, 2)
(285, 50.9, 17.9, 196.0, 3675.0, 3)
(286, 52.1, 17.0, 230.0, 5550.0, 2)
(287, 44.5, 15.7, 217.0, 4875.0, 2)
(288, 46.9, 14.6, 222.0, 4875.0, 2)
(289, 51.3, 18.2, 197.0, 3750.0, 3)
(290, 38.8, 20.0, 190.0, 3950.0, 1)
(291, 50.2, 18.7, 198.0, 3775.0, 3)
(292, 50.8, 15.7, 226.0, 5200.0, 2)
(293, 44.1, 19.7, 196.0, 4400.0, 1)
(294, 39.7, 17.7, 193.0, 3200.0, 1)
(295, 44.5, 14.7, 214.0, 4850.0, 2)
(296, 48.6, 16.0, 230.0, 5800.0, 2)
(297, 50.6, 19.4, 193.0, 3800.0, 3)
(298, 44.4, 17.3, 219.0, 5250.0, 2)
(299, 45.7, 13.9, 214.0, 4400.0, 2)
(300, 47.6, 14.5, 215.0, 5400.0, 2)
(301, 39.6, 20.7, 191.0, 3900.0, 1)
(302, 37.2, 19.4, 184.0, 3900.0, 1)
(303, 35.9, 16.6, 190.0, 3050.0, 1)
(304, 43.5, 18.1, 202.0, 3400.0, 3)
(305, 32.1, 15.5, 188.0, 3050.0, 1)
(306, 45.2, 16.4, 223.0, 5950.0, 2)
(307, 37.9, 18.6, 193.0, 2925.0, 1)
(308, 37.8, 18.3, 174.0, 3400.0, 1)
(309, 35.0, 17.9, 192.0, 3725.0, 1)
(310, 52.0, 20.7, 210.0, 4800.0, 3)
(311, 50.8, 17.3, 228.0, 5600.0, 2)
(312, 37.0, 16.5, 185.0, 3400.0, 1)
(313, 46.5, 14.4, 217.0, 4900.0, 2)
(314, 49.3, 15.7, 217.0, 5850.0, 2)
(315, 40.7, 17.0, 190.0, 3725.0, 1)
(316, 52.7, 19.8, 197.0, 3725.0, 3)
(317, 39.0, 17.1, 191.0, 3050.0, 1)
(318, 46.7, 15.3, 219.0, 5200.0, 2)
(319, 40.9, 18.9, 184.0, 3900.0, 1)
(320, 36.5, 18.0, 182.0, 3150.0, 1)
(321, 46.8, 16.1, 215.0, 5500.0, 2)
(322, 39.0, 17.5, 186.0, 3550.0, 1)
(323, 52.2, 17.1, 228.0, 5400.0, 2)
(324, 52.8, 20.0, 205.0, 4550.0, 3)
(325, 43.5, 14.2, 220.0, 4700.0, 2)
(326, 50.5, 15.2, 216.0, 5000.0, 2)
(327, 38.5, 17.9, 190.0, 3325.0, 1)
(328, 48.5, 17.5, 191.0, 3400.0, 3)
(329, 52.0, 18.1, 201.0, 4050.0, 3)
(330, 46.4, 15.6, 221.0, 5000.0, 2)
(331, 50.0, 16.3, 230.0, 5700.0, 2)
(332, 37.0, 16.9, 185.0, 3000.0, 1)
(333, 37.2, 18.1, 178.0, 3900.0, 1)
(334, 36.4, 17.0, 195.0, 3325.0, 1)

## Insert

In [ ]:
# insert query
insert_query = "INSERT INTO Penguins_data (culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, target) VALUES (50.1, 18.1, 191.2, 3250.0, 3);"
conn.execute(insert_query)
conn.commit()

In [ ]:
# verify the insertion
cursor = conn.execute("SELECT * FROM Penguins_data WHERE flipper_length_mm = 191.2;")
print(cursor.fetchone())

(335, 50.1, 18.1, 191.2, 3250.0, 3)

## Update

In [ ]:
# update a record in the 'Penguins_data' table
update_query = "UPDATE Penguins_data SET culmen_depth_mm = '13.2' WHERE id = '1';"
conn.execute(update_query)
conn.commit()

In [ ]:
# verify the update
cursor = conn.execute("SELECT * FROM Penguins_data WHERE id = '1';")
print(cursor.fetchone())

(1, 44.9, 13.2, 213.0, 5100.0, 2)

## Delete

In [ ]:
# delete a record from the 'Penguins_data' table
delete_query = "DELETE FROM Penguins_data WHERE id = '325';"
conn.execute(delete_query)
conn.commit()

In [ ]:
# verify the deletion
cursor = conn.execute("SELECT * FROM Penguins_data WHERE id = '325';")
print(cursor.fetchone())

None

# ML - Classification

In [ ]:
# import
from sklearn.model_selection import train_test_split

# select from database
cursor.execute("SELECT culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, target FROM Penguins_data")
data = cursor.fetchall()

# prepare train and test
X, y = zip(*[(row[:4], row[4]) for row in data])
X = np.array(X)
y = np.array(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

In [ ]:
# import
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# load the model
model = SVC()
# fit the model
model.fit(X_train, y_train)

# make a prediction
y_pred = model.predict(X_test)

# print the accuracy of the predicted output
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.70

In [ ]:
# prediction
X_new = [47.9, 14.2, 222.0, 3100.0]
model.predict([X_new])

array([1])

In [ ]:
# import
import joblib

# save the model
joblib.dump(model, "svc_model.joblib")

['svc_model.joblib']

# Gradio

In [ ]:
!pip install gradio -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 66.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.1/144.1 KB 13.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.5/129.5 KB 12.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.1/57.1 KB 6.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.5/71.5 KB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.7/45.7 KB 5.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.8/199.8 KB 20.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.8/57.8 KB 6.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.5/50.5 KB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 54.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 KB 11.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 KB 18.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 KB 26.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.9/66.9 KB 6.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.6/69.6 KB 7.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 KB 6.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.6/80.6 KB 10.2 MB/s eta 0:00:00
  Building wheel for ffmpy (setup.py) ... done

In [ ]:
# load the trained model
clf = joblib.load('svc_model.joblib')

In [ ]:
def classify(x1, x2, x3, x4):
    # Use the loaded SVM model to predict the output
    input_list = [[x1, x2, x3, x4]]
    y_pred = clf.predict(input_list)

    # Return the predicted output as a string
    return str(y_pred[0])

demo = gr.Interface(fn=classify, inputs=["number", "number", "number", "number"], outputs="text", title="SVM Classifier", description="Enter four values to classify.").launch()

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
Note: opening Chrome Inspector may crash demo inside Colab notebooks.

To create a public link, set `share=True` in `launch()`.